.container {
    display: flex;
    width: 100%;

}

/* 왼쪽 영역 */
.left-side {
    display: flex;
    flex-direction: column;

    border-right: 1px solid #bebebe;
    width: 15%;
    /* 높이 나중에 수정 */
    height: 850px;
    padding-left: 25px;


    /* background-color: antiquewhite; */
}

.left-side-container {
    width: 90%;
    padding-top: 50px;
}

.point-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;

    /* background-color: blueviolet; */
}

.logo-image {
    width: 80%;
    height: auto;
}

.point-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 26px;
}

.point-content {
    width: 100%;
    height: 20%;
}

.point-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    padding-top: 50px;
    /* background-color: aquamarine; */
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px dotted #bebebe;
    height: 45%;
}

.notice-payment {
    color: gray;
}

.notice-payment-email {
    display: flex;
    justify-content: flex-end;
}

.point {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    height: 55%;
}

.amount-currency {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.point-amount {
    padding-right: 5px;
    font-size: 28px;
}


/* 오른쪽 영역 */

.right-side {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 850px;
    background-color: #fafafa;
}

.right-side-container {
    width: 90%;
    height: 750px;
    padding-top: 20px;
    /* background-color: blanchedalmond; */
}

.payment-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 8%;
}

.payment-header-box {
    border: 1px solid #606060;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
    color: #FFFFFF;
    background-color: #606060;
}

.payment-header-content {
    font-size: 13px;
}

.payment-amount,
.payment-method,
.payment-agree {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.left-payment-amount,
.left-payment-method,
.left-payment-agree {
    border-top: 1px solid #bebebe;
    width: 15%;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;

    font-size: 16px;
    color: #4c4c4c;
}

.right-payment-amount {
    width: 84%;
    height: 100%;
}

.payment-amount-list {
    display: flex;
    justify-content: space-between;

}



.payment-point-price {
    border: 1px solid #bebebe;
    width: 16%;
    height: 190px;
    background-color: #f3f3f3;
}

.payment-point-price:hover {
    border: 3px solid orange;
    background-color: orange;
}

.payment-point-price:hover {
    cursor: pointer;
}

.payment-point-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 35%;
    padding-left: 17px;
    color: #434343;
    background-color: #fff;
}

.radio-input {
    opacity: 0;
}

.payment-point {
    font-size: 20px;
}

.payment-currency {
    padding-top: 3px;
    padding-left: 7px;
    font-size: 13px;
}

.payment-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 65%;
    padding-top: 15px;

    font-size: 25px;
    color: #716e6e;
}

/* 결제 수단 */
.right-payment-method {
    width: 84%;
    height: 100%;
}

.payment-method-box {
    border: 1px solid #bebebe;
    width: 100%;
    height: 95%;
}

.payment-type {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 40%;
    height: 25%;

    padding-top: 5px;
}

.simple-payment,
.credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bebebe;
    width: 45%;
    height: 100%;

    cursor: pointer;
    font-size: 18px;
}

.simple-payment:hover,
.credit-card:hover {
    border: 3px solid orange;
}

.detail-payment-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 75%;
}

.detail-payment-type-content {
    width: 100%;
    height: 35%;
    padding: 15px;
}

.detail-payment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #bebebe;
    width: 100%;
    height: 65%;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 25%;
    font-weight: 700;
}

.detail-payment-type-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 25%;
}

.payment-type-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.payment-checkbox {
    border: 1px solid #bebebe;
    border-radius: 50%;
    margin-right: 5px;
}



/* 결제 전 주의사항 및 체크 */
.right-payment-agree {
    display: flex;
    flex-direction: column;
    border: 1px solid #bebebe;
    border-radius: 3px;
    width: 84%;
    height: 100%;

}

.payment-agree-content {
    border-bottom: 1px solid #bebebe;
    width: 100%;
    height: 80%;
    padding: 20px 20px 10px 20px;
    font-size: 16px;
    color: #808080;
    background-color: #fff;
}

.payment-agree-notice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 1px;
    background-color: #f3f3f3;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 80%;
}

.input-checkbox {
    border: 1px solid;
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.payment-agree-notice-content {
    width: 90%;
    color: #4c4c4C;
}

.payment-agree-notice-content a {
    text-decoration: underline;
    cursor: pointer;
}



/* 결제 버튼  */
.payment-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-top: 30px;
}

.payment-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    width: 144px;
    height: 45px;

    color: white;
    cursor: pointer;
    background-color: red;
}