<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/head :: head}"></head>

<head>
    <title>adminQnAList</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/adminaside.css">
    <link rel="stylesheet" href="/static/css/admin/adminList.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <div id="container">
        <main>
            <div class="main-container">
                <aside th:replace="~{admin/fragment/adminaside :: adminaside}"></aside>
                <section>
                    <div class="section-container">
                        <div class="section-title">
                            <h2>QnA 목록</h2>
                        </div>

                        <div class="search-area">
                            <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
                            <div>
                                <button type="button" class="search-button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>

                        <div class="qna-category-flex">
                            <div class="qna-status-category">
                                <div><button type="button" class="all-button qna-status-color">전체</button></div>
                                <div><button type="button" class="wait-button">대기중</button></div>
                                <div><button type="button" class="ongoing-button">진행중</button></div>
                                <div><button type="button" class="completion-button">완료</button></div>
                            </div>
                        </div>
                        <div class="list-table">
                            <table class="table">
                                <thead class="qna-list">
                                    <tr>
                                        <th>작성자(닉네임)</th>
                                        <th>대분류</th>
                                        <th>소분류</th>
                                        <th>제목</th>
                                        <th>상태</th>
                                        <th>상세보기</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody class="qna-list-body">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/adminQnAList.js"></script>
</body>

</html>