<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/head :: head}"></head>

<head>
    <title>adminUserList</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/adminaside.css">
    <link rel="stylesheet" href="/static/css/admin/adminList.css">
</head>

<body>
    <div id="container">
        <main>
            <div class="main-container">
                <aside th:replace="~{admin/fragment/adminaside :: adminaside}"></aside>
                <section>
                    <div class="section-container">
                        <div class="section-title">
                            <h2>회원 목록</h2>
                        </div>

                        <div class="search-area">
                            <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
                            <div>
                                <button type="button" class="search-button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>

                        <div class="list-table">
                            <table class="table">
                                <thead class="user-list">
                                    <tr>
                                        <th>아이디</th>
                                        <th>이름</th>
                                        <th>닉네임</th>
                                        <th>휴대폰</th>
                                        <th>권한</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody class="user-list-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/adminUserList.js"></script>
</body>

</html>