<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- <head th:replace="~{admin/fragment/adminhead :: adminhead}"></head> -->
<head th:replace="~{fragment/head :: head}"></head>
<head>
    <title>adminBoardList</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/fragment/adminaside.css">
    <link rel="stylesheet" href="/static/css/admin/adminList.css">
</head>
<body>
    <div id="container">
        <div th:replace="~{fragment/header :: header}"></div>
        <main>
            <div class="main-container">
                <aside th:replace="~{admin/fragment/adminaside :: adminaside}"></aside>
                <section>
                    <div class="section-container">
                        <div class="section-title">
                            <h2>게시글 목록</h2>
                        </div>

                        <div class="userlist-search-button">
                            <input type="text" class="list-search-input" placeholder="검색어를 입력하세요.">
                            <div>
                                <button type="button" class="list-search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                        
                        <div class="list-table board-table">
                            <table class="user-list">
                                <thead class="list-head">
                                    <tr>
                                        <th>작성자</th>
                                        <th>대분류</th>
                                        <th>소분류</th>
                                        <th>제목</th>
                                        <th>상세보기</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody class="list-body">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/adminBoardList.js"></script>
</body>
</html>