/*--------------------
폼 style
----------------------*/

/* placeholder */
input::placeholder{color: #bbb}
input::-webkit-input-placeholder {color:#bbb; }
input::-moz-placeholder          {color:#bbb;}
input:-moz-placeholder           {color:#bbb;}
input:-ms-input-placeholder      {color:#bbb;}

/* input */
input[type=text], input[type=password]{
  box-sizing: border-box;
  -webkit-appearance:none;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 15px;
  font-family:'Roboto', 'Noto Sans KR',sans-serif;
  -webkit-appearance: none;
	height:30px;
}

input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}


/* 버튼 */
button {
border:0;
-webkit-transition-duration: 0.4s; transition-duration: 0.4s;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
cursor: pointer;
display: inline-block;
vertical-align:middle;
text-align: center;
box-sizing: border-box;
font-size:14px;
}

button:focus { outline: none; -webkit-transition-duration: 0.5s; transition-duration: 0.5s;transition: all 0.5s;}




