<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragment/head :: head}"></head>
    <link rel="stylesheet" href="/static/css/board/article.css">
    <title>게시물</title>
</head>
<body>
    <div class="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main>
            <section>
                <div class="article-container">
                    <div class="article-category">
                    </div>
                    <div class="article-content-container">
                        <div class="user-info">
                            <div class="user-info-container">
                                <div class="user-img">
                                    
                                </div>
                                <div class="user-detail">
                                    
                                </div>
                            </div>
                            <div class="user-reputation">
                                <div class="user-star">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="article-title">
                           
                        </div>
                        <div class="article-content">
                            
                        </div>
                        
                        <div class="article-info">
                            <span>프로그래밍</span>
                            <span>java</span>
                        </div>
                    </div>
                </div>
                <div class="comment-container">
                    <div class="comment-num">
                        <h2>2개의 댓글</h2>
                    </div>
                    <div class="comment-write">
                        <div class="user-img">
                            <img src="/static/images/profile-icon_34378.png">
                        </div>
                        <div class="comment-write-container">
                            <div class="comment-textarea-container">
                                <textarea class="comment-textarea" placeholder="댓글을 입력해주세요."></textarea>
                            </div>
                            <div class="write-button">
                                <button>댓글 쓰기</button>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <ul>
                            <li>
                                <div class="user-info">
                                    <div class="user-info-container">
                                        <div class="user-img">
                                            <a href="">
                                                <img src="/static/images/profile-icon_34378.png">
                                            </a>
                                        </div>
                                        <div class="user-detail">
                                            <a class="user-nickname">작성자</a>
                                            <div class="user-brief">
                                                <span>1시간 전</span>
                                                <span>&#183;</span>
                                                <i class="fa-sharp fa-solid fa-bullseye"></i><span>53</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-reputation">
                                        <div class="user-star">
                                            <i class="fa-regular fa-thumbs-up"></i><span>13</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <p>blur 이벤트 쓰시는건 어떤가요</p>
                                </div>
                                <div class="recomment-container">
                                    <div class="recomment-button">
                                        <button class="show-recomment">
                                            <i class="fa-thin fa-chevrons-down"></i>
                                            <span>댓글 모두 숨기기</span>
                                        </button>
                                        <button><span>댓글 쓰기</span></button>
                                    </div>
                                    <div class="recomment">
                                        <div class="comment-write">
                                            <div class="user-img">
                                                <img src="/static/images/profile-icon_34378.png">
                                            </div>
                                            <div class="form-container">
                                                <form class="comment-form">
                                                    <div class="comment-textarea">
                                                        <textarea class="test" placeholder="댓글을 입력해주세요."></textarea>
                                                    </div>
                                                </form>
                                                <div class="recomment-write-button">
                                                    <button>취소</button>
                                                    <button>댓글 쓰기</button>
                                                </div>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="user-info">
                                                    <div class="user-info-container">
                                                        <div class="user-img">
                                                            <a href="">
                                                                <img src="/static/images/profile-icon_34378.png">
                                                            </a>
                                                        </div>
                                                        <div class="user-detail">
                                                            <a class="user-nickname">작성자</a>
                                                            <div class="user-brief">
                                                                <span>1시간 전</span>
                                                                <span>&#183;</span>
                                                                <i class="fa-sharp fa-solid fa-bullseye"></i><span>53</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="user-reputation">
                                                        <div class="user-star">
                                                            <i class="fa-regular fa-thumbs-up"></i><span>13</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>blur 이벤트 쓰시는건 어떤가요</p>
                                                </div>
                                                <div class="recomment-container">
                                                    <div class="recomment-button">
                                                        <button><span>댓글 쓰기</span></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <li>
                            <div class="user-info">
                                <div class="user-info-container">
                                    <div class="user-img">
                                        <a href="">
                                            <img src="/static/images/profile-icon_34378.png">
                                        </a>
                                    </div>
                                    <div class="user-detail">
                                        <a class="user-nickname">작성자</a>
                                        <div class="user-brief">
                                            <span>1시간 전</span>
                                            <span>&#183;</span>
                                            <i class="fa-sharp fa-solid fa-bullseye"></i><span>53</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-reputation">
                                    <div class="user-star">
                                        <i class="fa-regular fa-thumbs-up"></i><span>13</span>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-content">
                                <p>blur 이벤트 쓰시는건 어떤가요</p>
                            </div>
                            <div class="recomment-container">
                                <div class="recomment-button">
                                    <button class="show-recomment">
                                        <i class="fa-thin fa-chevrons-down"></i>
                                        <span>댓글 모두 숨기기</span>
                                    </button>
                                    <button class="rerecomment-write"><span>댓글 쓰기</span></button>
                                </div>
                                <div class="recomment">
                                    <div class="comment-write">
                                        <div class="user-img">
                                            <img src="/static/images/profile-icon_34378.png">
                                        </div>
                                        <div class="form-container">
                                            <form class="comment-form">
                                                <div class="comment-textarea">
                                                    <textarea class="test" placeholder="댓글을 입력해주세요."></textarea>
                                                </div>
                                            </form>
                                            <div class="recomment-write-button">
                                                <button>취소</button>
                                                <button>댓글 쓰기</button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="user-info">
                                                <div class="user-info-container">
                                                    <div class="user-img">
                                                        <a href="">
                                                            <img src="/static/images/profile-icon_34378.png">
                                                        </a>
                                                    </div>
                                                    <div class="user-detail">
                                                        <a class="user-nickname">작성자</a>
                                                        <div class="user-brief">
                                                            <span>1시간 전</span>
                                                            <span>&#183;</span>
                                                            <i class="fa-sharp fa-solid fa-bullseye"></i><span>53</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user-reputation">
                                                    <div class="user-star">
                                                        <i class="fa-regular fa-thumbs-up"></i><span>13</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <p>blur 이벤트 쓰시는건 어떤가요</p>
                                            </div>
                                            <div class="recomment-container">
                                                <div class="recomment-button">
                                                    <button><span>댓글 쓰기</span></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </section>
        </main>
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
    
    <script src="/static/js/board/article.js"></script>
</body>
</html>