<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragment/head :: head}"></head>
    <link rel="stylesheet" href="/static/css/board/article.css">
    <title>게시물</title>
</head>
<body>
    <div class="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main>
            <section>
                <div class="article-container">
                    <div class="article-category">
                    </div>
                    <div class="article-content-container">
                        <div class="user-info">
                            <div class="user-info-container">
                                <div class="user-img">
                                    
                                </div>
                                <div class="user-detail">
                                    
                                </div>
                            </div>
                            <div class="user-reputation">
                                <div class="user-star">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="article-title">
                           
                        </div>
                        <div class="article-content">
                            
                        </div>
                        
                        <div class="article-info">
                            
                        </div>
                    </div>
                </div>
                <div class="comment-container">
                    <div class="comment-num">
                        
                    </div>
                    <div class="comment-write grey-border">
                        
                    </div>
                    <div class="comment">
                        <ul class="comment-ul">
                            
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
    
    <script src="/static/js/board/article.js"></script>
</body>
</html>