<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <head th:replace="~{fragment/head :: head}"></head>
    <link rel="stylesheet" href="/static/css/board/board.css">
    <title>공지사항</title>
</head>

<body>
    <div class="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main>
            <div>
                <!-- <aside th:replace="~{fragment/rankaside :: rankaside}"></aside> -->
            </div>
            <section>
                <div class="board-main-head">
                    <span class="board-main-header-title">공지사항</span>
                    <span class="board-main-header-content">bts의 새소식, 이벤트, 행사 정보를 공유하는 공간입니다.</span>
                </div>
                <div class="board-main-menu">
                    <div class="write">
                        <button type="button" class="write-button"><i class="fa-solid fa-pencil"></i><span>작성하기</span></button>
                    </div>
                    <div class="show">
                        <div class="show-button">
                            <button type="button"><i class="fa-solid fa-bars"></i>최신순</button>
                        </div>
                        <div class="show-list invisible">
                            <button type="button" value="1" class="show-list-button blue-button">최신순</button>
                            <button type="button" value="2" class="show-list-button">추천순</button>
                            <button type="button" value="3" class="show-list-button">조회순</button>
                        </div>
                    </div>
                </div>
                <div class="board-main-search">
                    <div class="search-reload">
                        <button type="button"><i class="fa-solid fa-arrows-rotate"></i></button>
                    </div>
                    <div class="search-input">
                        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="공지 내에서 검색">
                    </div>
                    <div class="search-page">
                        <div class="search-page-num">
                            <span></span>
                            <span>/ </span>
                            <span></span>
                        </div>
                        <div class="search-page-button">
                            <button type="button"><i class="fa-solid fa-left-long"></i></button>
                            <button type="button"><i class="fa-solid fa-right-long"></i></button>
                        </div>
                    </div>
                </div>
                <div class="board-main-list">
                    <ul class="board-list">
                        
                    </ul>
                </div>
                <div class="board-main-page">
                    <div class="previous-button">
                        <button type="button"><i class="fa-solid fa-left-long"></i><span>Previous</span></button>
                    </div>
                    <nav class="page-num">
                        
                    </nav>
                    <div class="next-button">
                        <button type="button"><span>Next</span><i class="fa-solid fa-right-long"></i></button>
                    </div>
                </div>
            </section>
            <div class="right-aside">
                <!-- <aside th:replace="~{fragment/priceaside :: priceaside}"></aside> -->
            </div>

        </main>
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>
    <script src="/static/js/board/board.js"></script>
</body>

</html>