.category {
    width: 100%;
    margin-bottom: 50px;
    padding: 0px;
}

.category-title {
    width: 100%;

    margin-bottom: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.category li {
    margin-bottom: 10px;
    border-bottom: 1px solid #7f7f7f;
    padding-bottom: 10px;

    list-style: none;
}

.category li:hover {
    color: rgb(0, 144, 249);
    border-bottom: 1px solid rgb(0, 144, 249);
}

.category button {
    border: none;
    background-color: white;
}
