<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <aside th:fragment="categoryaside" class="aside-container" >
        <div class="category">
            <div class="category-title">
                <span>카테고리</span>
            </div>
            <ul class="category-menu">
                <li><button>전체</button></li>
                <li><button>프로그래밍</button></li>
                <li><button>건축</button></li>
                <li><button>영상</button></li>
            </ul>
        </div>
    </aside>
</body>
</html>