<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header th:fragment="header">
        <nav class="header-container">
            <div class="header-flex">
                <div class="left-nav">
                    <div class="logo">
                        <a href="/index"><img src="/static/images/logo.png"></a>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="#">Q&A</a></li>
                            <li><a href="#">지식</a></li>
                            <li><a href="#">커뮤니티</a></li>
                            <li><a href="#">공지사항</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-nav">
                    <div class="search-box">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="검색">
                    </div>
                    <a href="/login" class="login-button">로그인</a>
                    <a href="/signup" class="signup-button">회원가입</a>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>