<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>DWAF</title>
	<meta http-equiv="Content-Type" content="text/html">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
	<meta name="keywords" content="컨텐츠 키워드 입력">
	<meta name="description" content="컨텐츠 설명 입력">
	<meta property="og:title" content="DWAF" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="주소입력" />
	<meta property="og:image" content="/static/images/opengraph.png" />
	<meta property="og:description" content="컨텐츠 설명 입력" />
	<link href="/static/css/index/common.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/static/js/account/principal.js"></script>
</head>
<body>
</body>
</html>