<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
    <div id="header" th:fragment="header">
        <div class="head">
            <a href="/" class="logo"><img src="/static/images/logo.svg"></a>
            <div id="dwgnb">
              <ul>
                <li><a href="/question">Q&A</a> </li>
                <li><a href="/knowledge">지식</a></li>
                <li><a href="/community">커뮤니티</a></li>
                <li><a href="/notice">공지사항</a></li>
              </ul>
              <span class="bg"></span>
  
              <div class="top_search">
                <input type="text" class="search-input" placeholder="검색"/>
                <button type="button" class="search-button">Search</button>
              </div>
              <!-- 로그인 전 노출 -->
              <div class="login_area"><!-- style:display none 삭제 -->
                <a href="/login">로그인</a>
                <a href="/signup" class="join">회원가입</a>
              </div>
              <!-- 로그인 후 노출 -->
              <div class="top_info top_info_invisible">
                
              </div>
              <div class="logout">
               <button type="button" >로그아웃</button>
              </div>
            </div>
        </div>
        <!-- //head -->
        <div class="btn_nav btn_bar">
          <button type="button" onclick="toggleAllMenu()"><span>전체메뉴 열기</span></button>
        </div>
        <div class="nav_close">
          <button type="button" onclick="toggleAllMenu()"><span>전체메뉴 닫기</span></button>
        </div>
        <div class="mask"></div>

        <script type="text/javascript">
          function toggleAllMenu() {
              $("#header").toggleClass("open");
          }
        </script>
        <script src="/static/js/fragment/haeder.js"></script>
      </div>
      
</body>
    
</html>