<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <aside th:fragment="priceaside" class="aside-container">
        <div>
            <span class="aside-title">Top Rank Price</span>
            <div class="aside-list">
                <ul>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick1</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick2</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick3</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick4</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick5</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick6</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNic7</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick8</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick9</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png">
                            <a href="#">userNick10</a>
                        </div>
                        <div class="score">
                            <div><i class="fa-solid fa-money-bill-1"></i></div>
                            <span>10,000원</span>
                        </div>
                    </li> 
                </ul>
            </div>
        </div>
    </aside>
</body>
</html>