<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <aside th:fragment="priceaside" class="aside-container">
        <div>
            <span class="aside-title">Top Rank Price</span>
            <div class="aside-list">
                <ul>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: aqua;">
                            <a href="#">userNick1</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: blueviolet;">
                            <a href="#">userNick2</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: darkslategray;">
                            <a href="#">userNick3</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: indigo;">
                            <a href="#">userNick4</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: darksalmon;">
                            <a href="#">userNick5</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: khaki;">
                            <a href="#">userNick6</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: lightpink;">
                            <a href="#">userNic7</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: orangered;">
                            <a href="#">userNick8</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: seagreen;">
                            <a href="#">userNick9</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li>
                    <li>
                        <div class="mini-profile">
                            <img src="/static/images/profileImg.png" style="background-color: olive;">
                            <a href="#">userNick10</a>
                        </div>
                        <div class="score">
                            <span>10,000 P</span>
                        </div>
                    </li> 
                </ul>
            </div>
        </div>
    </aside>
</body>
</html>