<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer th:fragment="footer">
        <div class="footer-container">
            <div class="footer-flex">
                <div class="footer-logo">
                    <img src="/static/images/logo.png">
                    <p>Biding Type Solution</p>
                </div>
                <div class="company-info">
                    <div class="info-top">
                        <ul class="left-info">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">연락처</a></li>
                            <li><a href="#">광고문의</a></li>
                            <li><a href="#">채용</a></li>
                        </ul>
                        <div>&#124;</div>
                        <a href="#" class="bug-report">버그제보</a>
                        <div>&#124;</div>
                        <ul class="right-info">
                            <li><a href="#">개인정보 처리방침</a></li>
                            <li><a href="#">서비스 이용약관</a></li>
                        </ul>
                    </div>
                    <div class="info-bottom">
                        <div>상호명: 디와프(DWAF) | 대표명 : 최연호 | 사업자등록번호 : 171-31-01120 | 문의 : dusgh0624@naver.com</div>
                        <div class="info-bottom-mid">통신판매업신고번호 : 제 2022-부산어디-00000호 ㅣ 주소: 부산 어딘가 있습니다 000 꿈과희망의빌딩 000호 (00000)</div>
                        <div class="info-bottom-last">© 2022 DWAF, Co. All rights reserved.</div>
                    </div>
                </div>
                <div class="sponsored-by">
                    <div class="sponsored-title">SPONSORED BY</div>
                    <div class="sponsored-mark">
                        <a href="http://www.koreaitjob.co.kr/"><img src="/static/images/sponesored1.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>