#container {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* section css */
section {
    width: 100%;
    height: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 980px;
    padding: 30px;
}

/* 검색 */
.section-title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    width: 100%;
    height: 10%;
}

.section-title h2 {
    font-size: 28px;
}

.search-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.search-input {
    width: 50%;
    height: 100px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.search-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}


/* 테이블 */
.list-table {
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fefefe;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    border-collapse: collapse;
}

/* thead */
.user-list,
.qna-list,
.board-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ababab;
    width: 100%;
    height: 50px;

    background-color: #c2c2c2e0;
}

.user-list tr,
.qna-list tr,
.board-list tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.user-list th,
.qna-list th,
.board-list th {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

/* 유저 thead */
.user-list th:nth-child(1) {
    width: 30%;
    height: 100%;
}

.user-list th:nth-child(2) {
    width: 10%;
    height: 100%;
}

.user-list th:nth-child(3) {
    width: 15%;
    height: 100%;
}

.user-list th:nth-child(4) {
    width: 25%;
    height: 100%;
}

.user-list th:nth-child(5) {
    width: 10%;
    height: 100%;
}

.user-list th:nth-child(6) {
    width: 10%;
    height: 100%;
}

/* QnA thead */
.qna-list th:nth-child(1) {
    width: 20%;
    height: 100%;
}


.qna-list th:nth-child(2) {
    width: 12%;
    height: 100%;
}


.qna-list th:nth-child(3) {
    width: 12%;
    height: 100%;
}


.qna-list th:nth-child(4) {
    width: 34%;
    height: 100%;
}


.qna-list th:nth-child(5) {
    width: 8%;
    height: 100%;
}


.qna-list th:nth-child(6) {
    width: 8%;
    height: 100%;
}

.qna-list th:nth-child(7) {
    width: 6%;
    height: 100%;
}

/* 게시글 thead */
.board-list th:nth-child(1) {
    width: 20%;
    height: 100%;
}


.board-list th:nth-child(2) {
    width: 15%;
    height: 100%;
}


.board-list th:nth-child(3) {
    width: 15%;
    height: 100%;
}

.board-list th:nth-child(4) {
    width: 30%;
    height: 100%;
}

.board-list th:nth-child(5) {
    width: 10%;
    height: 100%;
}

.board-list th:nth-child(6) {
    width: 10%;
    height: 100%;
}

/* tbody */
.user-list-body,
.qna-list-body,
.board-list-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-list-body tr,
.qna-list-body tr,
.board-list-body tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid darkgray;
    width: 100%;
    height: 40px;
}

.user-list-body tr td,
.qna-list-body tr td,
.board-list-body tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* 회원관리 tbody */
.user-list-body tr td:nth-child(1) {
    width: 277.45px;
    height: 100%;
}

.user-list-body tr td:nth-child(2) {
    width: 92.5px;
    height: 100%;
}

.user-list-body tr td:nth-child(3) {
    width: 138.75px;
    height: 100%;
}

.user-list-body tr td:nth-child(4) {
    width: 231px;
    height: 100%;
}

.user-list-body tr td:nth-child(5) {
    width: 92.5px;
    height: 100%;
}

.user-list-body tr td:nth-child(6) {
    width: 92.5px;
    height: 100%;
}

/* QnA tbody */
.qna-list-body tr td:nth-child(1) {
    width: 185.3px;
    height: 100%;
}

.qna-list-body tr td:nth-child(2) {
    width: 111.2px;
    height: 100%;
}

.qna-list-body tr td:nth-child(3) {
    width: 111.2px;
    height: 100%;
}

.qna-list-body tr td:nth-child(4) {
    width: 315px;
    height: 100%;
}

.qna-list-body tr td:nth-child(5) {
    width: 74.2px;
    height: 100%;
}

.qna-list-body tr td:nth-child(6) {
    width: 74.2px;
    height: 100%;
}

.qna-list-body tr td:nth-child(7) {
    width: 55.6px;
    height: 100%;
}

/* 회원관리 tbody */
.board-list-body tr td:nth-child(1) {
    width: 185.3px;
    height: 100%;
}


.board-list-body tr td:nth-child(2) {
    width: 139px;
    height: 100%;
}


.board-list-body tr td:nth-child(3) {
    width: 139px;
    height: 100%;
}


.board-list-body tr td:nth-child(4) {
    width: 278px;
    height: 100%;
}


.board-list-body tr td:nth-child(5) {
    width: 92.5px;
    height: 100%;
}


.board-list-body td:nth-child(6) {
    width: 92.7px;
    height: 100%;
}

.list-body button {
    font-weight: 900;
    cursor: pointer;
}

/*qna페이지 필요부분*/
.qna-category-flex {
    width: 100%;
    height: 40px;
}

.qna-status-category {
    display: flex;
    justify-content: start;
}

.qna-status-category div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fefefe;
    width: 60px;
    height: 40px;
}

.qna-status-category div button {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.detail-button {
    width: 80%;
    height: 80%;
    color: white;
    background-color: #cccccc;
}

.delete {
    width: 60%;
    height: 70%;
    color: white;
    background-color: red;
}


.qna-status-category button {
    margin-right: 5px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;

    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.qna-status-category button:hover {
    background-color: #FC5F07;
}