<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/head :: head}"></head>

<head>

    <title>최근 활동</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/account/detailsOfActivity.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <header th:replace="~{fragment/header :: header}"></header>
    <main>
        <div class="activity-container">
            <div class="profile-area">

            </div>
            <div class="boader-area">
                <ul>
                    <li>
                        <div class="post">
                            <div class="post-header">
                                <div class="post-title">
                                    <a href="">팁</a>
                                    <div>의 게시물을 스크랩하였습니다.</div>
                                </div>
                                <div>yyyy-mm-dd hh:mm:ss</div>
                            </div>
                            <div>
                                <a href=""> 게시물 제목</a>
                            </div>
                        </div>
                    </li>
                    <li>게시글 영역</li>
                    <li>게시글 영역</li>
                </ul>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
    <script src="/static/js/account/detailsOfActivity.js"></script>
</body>

</html>