<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 프로필</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/detailsOfActivity.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <header>
        <h1>헤더 영역</h1>
    </header>



    <main>
        <div class="activity-container">
            <div class="profile-area">
                <div class="profile">
                    <div class="profile-detail">
                        <div class="profile-image">
                            <img src="/static/images/logo_bts.png" alt="">
                        </div>
                        <div class="profile-id">
                            <h2>아이디</h2>
                            <p>별점</p>
                        </div>
                    </div>
                    <div class="myaccount-area">
                        <a class="myaccount" href="">나의 계정</a>
                    </div>
                </div>


                <div class="skill-area">
                    스택 종류
                </div>


                <div class="menu-list-area">
                    <div class="menu-list">
                        <a href=""><span>최근 활동</span></a>
                        <a href=""><span>게시물</span></a>
                        <a href=""><span>Q&A</span></a>
                        <a href=""><span>스크랩</span></a>
                    </div>
                </div>
            </div>

            <div class="boader-area">

                <ul>
                    <li>
                        <div class="post">
                            <div class="post-header">
                                <div class="post-title">
                                    <a href="">팁</a>
                                    <div>의 게시물을 스크랩하였습니다.</div>
                                </div>
                                <div>yyyy-mm-dd hh:mm:ss</div>
                            </div>
                            <div>
                                <a href=""> 게시물 제목</a>
                            </div>
                        </div>
                    </li>
                    <li>게시글 영역</li>
                    <li>게시글 영역</li>
                </ul>


            </div>



        </div>
    </main>


    <footer>
        <h1>푸터 영역</h1>
    </footer>

</body>

</html>