<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/head :: head}"></head>

<head>

    <title>최근 활동</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/account/detailsOfActivity.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <header th:replace="~{fragment/header :: header}"></header>
    <main>
        <div class="activity-container">
            <div class="profile-area">

            </div>
            <div class="boader-area">
                <ul class="board-list">

                </ul>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
    <script src="/static/js/account/detailsOfActivity.js"></script>
</body>

</html>