<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/findAccount.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>계정 찾기</title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="find-account">
                <div class="logo-img-area">
                    <a class="logo-img" href="">
                        <img class="logo-image" src="/static/images/logo_bts.png" alt="logo">
                    </a>
                </div>
                <h2 class="find-account-title">계정 찾기</h2><br>
                <p class="find-account-content">회원 가입시 입력하신 이메일 주소를 입력해주세요.</p>

                <div class="find-account-area">

                    <!-- 경계선 -->
                    <div class="border-area">
                        <div class="devide-border"></div>
                    </div>
                    <!-- 이메일 입력 영역  -->
                    <form class="input-info-area" action="">
                        <div class="input-info-box">
                            <label class="input-info-title" for="">이메일 주소</label>
                            <input class="input-info-input" type="text" placeholder="이메일을 입력해주세요.">
                        </div>
                        <!-- 버튼 영역 -->
                        <div class="button-area">
                            <button class="cancel-button btn">취소</button>
                            <button class="find-account-button btn">계정 찾기</button>
                        </div>
                    </form>
                </div>






            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>