<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/account/login.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <title>로그인 페이지</title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="login-area">
                <!-- 상단 부분 -->
                <div class="logo-img-area">
                    <a class="logo-img" href="/">
                        <img class="logo-image" src="/static/images/logo.svg">
                    </a>
                </div>
                <h2 class="login-title">DWAF에 오신것을 환영합니다.</h2>
                <p class="login-content">DWAF는 소프트웨어 개발자를 위한 지식공유 플랫폼입니다.</p>

                <!-- 로그인 영역 -->
                <div class="login-box">
                    <!-- SNS 로그인 영역 -->
                    <div class="oauth-login">
                        <span class="oauth-login-title">SNS 로그인</span>
                        <div class="oauth-login-area">
                            <!-- NAVER 로그인 영역 -->
                            <a class="oauth-login-button naver-btn" href="/oauth2/authorization/naver">
                                <div class="oauth-login-logo">
                                    <img src="/static/images/btnW_아이콘원형.png">
                                </div>
                                <div class="naver-login-text">
                                    NAVER 로그인
                                </div>
                            </a>
                            <!-- 카카오 로그인 영역 -->
                            <a class="oauth-login-button kakao-btn" href="/oauth2/authorization/kakao">
                                <!-- href="https://kauth.kakao.com/oauth/authorize?client_id=b83d0f41c645f00cbb4cd4b5224865b8&redirect_uri=http://localhost:8000/login/oauth2/code/kakao&response_type=code"> -->
                                <div class="oauth-login-logo">
                                    <img src="/static/images/join_kakao.png">
                                </div>
                                <div class="kakao-login-text">
                                    KAKAO 로그인
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- 일반 로그인 영역 -->
                    <div class="general-login">
                        <div class="general-login-border"></div>
                        <div class="general-login-title">
                            <span>DWAF 아이디로 로그인</span>
                        </div>
                    </div>
                    <!-- 로그인 정보 입력 영역 -->
                    <form class="general-login-area" action="/account/login" method="post">
                        <div class="general-login-account-area">
                            <!-- 아이디 -->
                            <div class="general-login-id-area">
                                <label class="general-login-title">아이디</label>
                                <input class="general-login-input" name="username" type="text"
                                    placeholder="아이디를 입력해주세요." value="testgo@naver.com">
                            </div>
                            <div class="error-msg"></div>
                            <!-- 비밀번호 -->
                            <div class="general-login-password-area">
                                <label class="general-login-title">비밀번호</label>
                                <input class="general-login-input" name="password" type="password"
                                    placeholder="비밀번호를 입력해주세요." value="1234qwer!">
                            </div>
                            <div class="error-msg"></div>
                        </div>
                        <!-- 계정 찾기 영역 -->
                        <div class="account-search">
                            <a class="account-search-box" href="/forgot">계정 찾기</a>
                        </div>
                        <!-- 로그인 버튼 -->
                        <div>
                            <button class="general-login-button" type="submit">로그인</button>
                        </div>
                        <!-- 회원가입 영역 -->
                        <div class="recommend-signup">
                            <span class="ask-signup">아직 회원이 아니신가요?</span>
                            <a class="sign" href="/signup">회원가입</a>
                        </div>
                    </form>
                </div>
                <div class="login-error-area">
                    <div th:if="${error}" class="login-error">
                        <span>! 로그인 실패</span>
                        <p id="valid" class="login-error-text" th:text="${exception}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/account/login.js"></script>
</body>

</html>