<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>로그인 페이지</title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="login-area">
                <div class="logo-img-area">
                    <a class="logo-img" href="">
                        <img class="logo-image" src="/static/images/logo_bts.png" alt="logo">
                    </a>
                </div>
                <h2 class="login-title">OKKY에 오신것을 환영합니다.</h2>
                <p class="login-content">OKKY는 소프트웨어 개발자를 위한 지식공유 플랫폼입니다.</p>


                <div class="login-box">
                    <div class="oauth-login">
                        <span class="oauth-login-title">SNS 로그인</span>
                        <div class="oauth-login-area">
                            <a class="oauth-login-button naver-btn" href="">
                                <div class="oauth-login-logo">
                                    <img src="/static/images/btnW_아이콘원형.png">
                                </div>
                                <div class="naver-login-text">
                                    NAVER 로그인
                                </div>
                            </a>
                            <a class="oauth-login-button kakao-btn" href="">
                                <div class="oauth-login-logo">
                                    <img src="/static/images/join_kakao.png">
                                </div>
                                <div class="kakao-login-text">
                                    KAKAO 로그인
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="general-login">
                        <div class="general-login-border"></div>
                        <div class="general-login-title">
                            <span>OKKY 아이디로 로그인</span>
                        </div>
                        <!-- <div class=" general-login-border"></div> -->
                    </div>

                    <form class="general-login-area" action="">
                        <div class="general-login-account-area">
                            <!-- 클래스명 확인 -->
                            <div class="general-login-id-area">
                                <label class="general-login-title" for="">아이디</label>
                                <input class="general-login-input" type="text" maxlength="15"
                                    placeholder="아이디를 입력해주세요.">

                            </div>
                            <div class="general-login-password-area">
                                <label class="general-login-title" for="">비밀번호</label>
                                <input class="general-login-input" type="password" placeholder="비밀번호를 입력해주세요.">
                            </div>
                        </div>
                        <div class="account-search">
                            <a class="account-search-box" href="">계정 찾기</a>


                        </div>
                        <div>
                            <button class="general-login-button" type="button">로그인</button>
                        </div>
                        <div class="recommend-signup">
                            <span class="ask-signup">아직 회원이 아니신가요?</span>
                            <a class="sign" href="">회원가입</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>