<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인증메일</title>
</head>
<body>
    <div>
        <header style="width: 100%; height: 80px; background-color: aqua; font-size: 30px; display: flex; align-items: center;">
            <h3 style="margin-left: 10px;">BTS홈페이지 인증메일입니다.</h3>
        </header>
        <main>
            <div style="font-size: 16px; margin-top: 30px;">
                <p>회원가입을 축하드립니다.</p>
                <p>메일 인증을 위하여 밑에 버튼을 클릭해서 홈페이지로 돌아가주세요.</p>
            </div>
            <div>
                <a href=""><button style="width: 200px; height:60px; margin-top: 30px; cursor: pointer; font-size: 16px; font-weight: 500; background-color: #dbdbdb; border: none;">인증완료</button></a>
            </div>
        </main>
    </div>
</body>
</html>