<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/account/profileChangePassword.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>프로필에서 비밀번호 변경</title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <!-- 비밀번호 변경 -->
            <div class="change-password">
                <!-- 로고 영역 -->
                <div class="logo-img-area">
                    <a class="logo-img" href="/">
                        <img class="logo-image" src="/static/images/logo_bts.png" alt="logo">
                    </a>
                </div>
                <h2 class="change-password-title">비밀번호 변경</h2><br>
                <p class="change-password-content">변경하실 비밀번호를 입력해주세요.</p>
                <!-- 경계선 -->
                <div class="border-area">
                    <div class="devide-border"></div>
                </div>
                <!-- 비밀번호 변경 영역 -->
                <div class="change-password-area">
                    <!-- 비밀번호 입력 영역  -->
                    <form class="input-password-area" action="">
                        <div class="input-now-password input-password">
                            <label class="input-password-title" for="">현재 비밀번호</label>
                            <input class="input-password-input" type="password">
                        </div>
                        <div class="input-new-password input-password">
                            <label class="input-password-title" for="">새 비밀번호</label>
                            <input class="input-password-input" type="password" placeholder="최소 6자 이상(알파벳, 숫자 필수)">
                        </div>
                        <div class="input-new-password-check input-password">
                            <label class="input-password-title" for="">새 비밀번호 확인</label>
                            <input class="input-password-input" type="password">
                        </div>
                        <!-- 버튼 영역 -->
                        <div class="button-area">
                            <button class="change-password-button" type="button">비밀번호 변경</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>