<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>회원가입 페이지</title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="signup-area">
                <div class="logo-img-area">
                    <a class="logo-img" href="">
                        <img class="logo-image" src="/images/logo_bts.png" alt="logo">
                    </a>
                </div>
                <h2 class="signup-title">OKKY에 오신것을 환영합니다.</h2>
                <p class="signup-content">OKKY는 소프트웨어 개발자를 위한 지식공유 플랫폼입니다.</p>


                <div class="signup-box">
                    <div class="oauth-signup">
                        <span class="oauth-signup-title">SNS 로그인</span>
                        <div class="oauth-signup-area">
                            <a class="naver-signup" href="">NAVER로 회원가입</a>
                            <a class="kakao-signup" href="">KAKAO로 회원가입</a>
                        </div>
                    </div>
                    <div class="general-signup">
                        <div class="general-signup-border"></div>
                        <div class="general-signup-title">
                            <span>회원 가입에 필요한 정보를 입력해주세요.</span>
                        </div>
                        <!-- <div class=" general-login-border"></div> -->
                    </div>

                    <form class="general-signup-area" action="">
                        <div class="general-signup-account-area">
                            <!-- 클래스명 확인 -->
                            <div class="general-signup-box">
                                <label class="general-signup-title" for="">아이디</label>
                                <input class="general-signup-input" type="text" placeholder="아이디를 입력해주세요.">

                            </div>
                            <div class="general-signup-box">
                                <label class="general-signup-title" for="">비밀번호</label>
                                <input class="general-signup-input" type="password" placeholder="비밀번호를 입력해주세요.">
                            </div>
                            <div class="general-signup-box">
                                <label class="general-signup-title" for="">이름</label>
                                <input class="general-signup-input" type="text" placeholder="이름을 입력해주세요.">
                            </div>
                            <div class="general-signup-box">
                                <label class="general-signup-title" for="">전화번호</label>
                                <input class="general-signup-input" type="text" placeholder="전화번호를 입력해주세요.">
                            </div>
                            <div class="general-signup-box">
                                <label class="general-signup-title" for="">닉네임</label>
                                <input class="general-signup-input" type="text" placeholder="닉네임을 입력해주세요.">
                            </div>
                        </div>
                        <div class="service-info">
                            <div class="service-info-area">
                                <div>
                                    <a class="service-info-box" href="#">서비스이용약관</a>
                                </div>
                                <div>
                                    <a class="service-info-box" href="#">개인정보처리방침</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="general-signup-button">회원 가입</button>
                        </div>
                        <div class="recommend-login">
                            <span class="ask-signup">이미 회원이신가요?</span>
                            <a class="login" href="">로그인</a>
                        </div>
                    </form>
                </div>






            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>