<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/account/signup.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>회원가입 페이지</title>
</head>

<body>
    <div class="wrap">
        <div class="container">
            <!-- 회원 가입 전체 영역 -->
            <div class="signup-area">
                <!-- 로고 영역 -->
                <div class="logo-img-area">
                    <a class="logo-img" href="/">
                        <img class="logo-image" src="/static/images/logo_bts.png" alt="logo">
                    </a>
                </div>
                <h2 class="signup-title">OKKY에 오신것을 환영합니다.</h2>
                <p class="signup-content">OKKY는 소프트웨어 개발자를 위한 지식공유 플랫폼입니다.</p>

                <!-- 회원가입 영역 -->
                <div class="signup-box">
                    <!-- SNS 회원가입 영역 -->
                    <div class="oauth-signup">
                        <span class="oauth-signup-title">SNS 회원가입</span>
                        <div class="oauth-login-area">
                            <!-- NAVER 회원가입 영역 -->
                            <a class="oauth-login-button naver-btn" href="">
                                <div class="oauth-login-logo">
                                    <img src="/static/images/btnW_아이콘원형.png">
                                </div>
                                <div class="naver-login-text">
                                    NAVER 회원가입
                                </div>
                            </a>
                            <!-- KAKAO 회원가입 영역 -->
                            <a class="oauth-login-button kakao-btn" href="">
                                <div class="oauth-login-logo">
                                    <img src="/static/images/join_kakao.png">
                                </div>
                                <div class="kakao-login-text">
                                    KAKAO 회원가입
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- 일반 회원가입 영역 -->
                    <div class="general-signup">
                        <div class="general-signup-border"></div>
                        <div class="general-signup-title">
                            <span>회원 가입에 필요한 정보를 입력해주세요.</span>
                        </div>
                    </div>
                    <!-- 정보 입력 영역 -->
                    <div class="general-signup-area">
                        <div class="general-signup-account-area">
                            <div class="general-signup-box">
                                <label class="general-signup-title">아이디</label>
                                <input class="general-signup-input" type="text" placeholder="이메일을 작성해주세요.">
                            </div>
                            <div class="error-msg"></div>
                            <div class="general-signup-box">
                                <label class="general-signup-title">비밀번호</label>
                                <input class="general-signup-input" type="password"
                                    placeholder="최소 8자 이상(알파벳, 숫자, 특수기호를 하나 이상 포함)">
                            </div>
                            <div class="error-msg"></div>
                            <div class="general-signup-box">
                                <label class="general-signup-title">이름</label>
                                <input class="general-signup-input" type="text" placeholder="실명을 입력해주세요.">
                            </div>
                            <div class="error-msg"></div>
                            <div class="general-signup-box">
                                <label class="general-signup-title">전화번호</label>
                                <input class="general-signup-input" type="text"
                                    placeholder="휴대폰 양식에 맞게 입력해주세요.(010-0000-0000)">
                            </div>
                            <div class="error-msg"></div>
                            <div class="general-signup-box">
                                <label class="general-signup-title">닉네임</label>
                                <input class="general-signup-input" type="text" placeholder="닉네임을 입력해주세요.">
                            </div>
                            <div class="error-msg"></div>
                        </div>
                        <!-- 서비스이용약관 및 개인정보처리방침 영역 -->
                        <div class="service-info">
                            <div class="service-info-area">
                                <div>
                                    <a class="service-info-box" href="#">서비스이용약관</a>
                                </div>
                                <div>
                                    <a class="service-info-box" href="#">개인정보처리방침</a>
                                </div>
                            </div>
                        </div>
                        <!-- 회원가입 버튼 -->
                        <div>
                            <button class="general-signup-button" type="button">회원 가입</button>
                        </div>
                        <!-- 로그인 영역 -->
                        <div class="recommend-login">
                            <span class="ask-signup">이미 회원이신가요?</span>
                            <a class="login" href="/login">로그인</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/account/signup.js"></script>
</body>

</html>