<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="container">
        <header>
            <nav class="header-container">
                <div class="header-flex">
                    <div class="left-nav">
                        <div class="logo">
                            <a href="/index"><img src="/static/images/logo.png"></a>
                        </div>
                        <div class="nav">
                            <ul>
                                <li><a href="/question">Q&A</a></li>
                                <li><a href="/knowledge">지식</a></li>
                                <li><a href="/community">커뮤니티</a></li>
                                <li><a href="/notice">공지사항</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-nav">
                        <div class="search-box">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" name="" id="" placeholder="검색">
                        </div>
                        <a href="/login" class="login-button">로그인</a>
                        <a href="/signup" class="signup-button">회원가입</a>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="main-container">
                <div>

                    <aside class="aside-container">
                        <div>
                            <span class="aside-title">Top Rank User</span>
                            <div class="aside-list">
                                <ul>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick1</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick2</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick3</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick4</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick5</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick6</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick7</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick8</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick9</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mini-profile">
                                            <img src="/static/images/profileImg.png">
                                            <a href="#">userNick10</a>
                                        </div>
                                        <div class="score">
                                            <div><i class="fa-solid fa-star"></i></div>
                                            <span>4.8</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <div class="bug-sos">
                        <div class="sos-icon">
                            <a href="#"><i class="fa-sharp fa-solid fa-bullhorn"></i></a>
                        </div>
                        <span>버그와 제안은 여기에 댓글로 남겨주세요.</span>
                    </div>
                </div>


                <section>
                    <div class="quick-board">
                        <div class="qna-board all-board">
                            <div class="quick-board-title">
                                <a href="#">Q&A</a>
                                <img src="/static/images/qna-icon.png">
                            </div>  
                            <div class="qna-board-list board-list">
                                <ul>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="qna-list-bottom">
                                            <a href="#">선생님들.. 제발 도와주세요. 파이썬 인공...</a>
                                            <span>&#8361; 10,000원</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="qna-list-bottom">
                                            <a href="#">선생님들.. 제발 도와주세요. 파이썬 인공...</a>
                                            <span>&#8361; 10,000원</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="qna-list-bottom">
                                            <a href="#">선생님들.. 제발 도와주세요. 파이썬 인공...</a>
                                            <span>&#8361; 10,000원</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="qna-list-bottom">
                                            <a href="#">선생님들.. 제발 도와주세요. 파이썬 인공...</a>
                                            <span>&#8361; 10,000원</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="qna-list-bottom">
                                            <a href="#">선생님들.. 제발 도와주세요. 파이썬 인공...</a>
                                            <span>&#8361; 10,000원</span>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="community-board all-board">
                            <div class="quick-board-title">
                                <a href="#">커뮤니티</a>
                                <img src="/static/images/community-icon.png">
                            </div>  
                            <div class="community-board-list board-list">
                                <ul>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">채무 4천, 노령의 부모님 그리고 긴 방황만 해왔는데 지금...</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">채무 4천, 노령의 부모님 그리고 긴 방황만 해왔는데 지금...</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">채무 4천, 노령의 부모님 그리고 긴 방황만 해왔는데 지금...</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">채무 4천, 노령의 부모님 그리고 긴 방황만 해왔는데 지금...</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">채무 4천, 노령의 부모님 그리고 긴 방황만 해왔는데 지금...</a>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="quick-board">
                        <div class="knowledge-board all-board">
                            <div class="quick-board-title">
                                <a href="#">지식</a>
                                <img src="/static/images/knowledge-icon.png">
                            </div>
                            <div class="knowledge-board-list board-list">
                                <ul>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">컴퓨터 계층의 관점에서 보는 프로그래머의 분업</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">컴퓨터 계층의 관점에서 보는 프로그래머의 분업</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">컴퓨터 계층의 관점에서 보는 프로그래머의 분업</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">컴퓨터 계층의 관점에서 보는 프로그래머의 분업</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/profileImg.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">컴퓨터 계층의 관점에서 보는 프로그래머의 분업</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="notice-board all-board">
                            <div class="quick-board-title">
                                <a href="#">공지</a>
                                <img src="/static/images/notice-icon.png">
                            </div>
                            <div class="knowledge-board-list board-list">
                                <ul>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/logo.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">[중요 알림] OKKY v2.1.1 릴리즈</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/logo.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">[중요 알림] OKKY v2.1.1 릴리즈</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/logo.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">[중요 알림] OKKY v2.1.1 릴리즈</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/logo.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">[중요 알림] OKKY v2.1.1 릴리즈</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="board-list-top">
                                            <div class="board-profile">
                                                <a href="#"><img src="/static/images/logo.png"></a>
                                                <a href="#" class="board-profile-nick">userNick1</a>
                                                <span>·</span>
                                                <span>약 1시간 전</span>
                                            </div>
                                            <div class="recommendation-icon">
                                                <div>
                                                    <i class="fa-regular fa-thumbs-up"></i>
                                                </div>
                                                <span>3</span>
                                                <div>
                                                    <i class="fa-regular fa-comment"></i>
                                                </div>
                                                <span>3</span>
                                            </div>
                                        </div>
                                        <div class="board-list-bottom">
                                            <a href="#">[중요 알림] OKKY v2.1.1 릴리즈</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>


                <aside class="aside-container">
                    <div>
                        <span class="aside-title">Top Rank Price</span>
                        <div class="aside-list">
                            <ul>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick1</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick2</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick3</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick4</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick5</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick6</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNic7</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick8</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick9</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-profile">
                                        <img src="/static/images/profileImg.png">
                                        <a href="#">userNick10</a>
                                    </div>
                                    <div class="score">
                                        <div><i class="fa-solid fa-money-bill-1"></i></div>
                                        <span>10,000원</span>
                                    </div>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </main>

        <footer>
            <div class="footer-container">
                <div class="footer-flex">
                    <div class="footer-logo">
                        <img src="/static/images/logo.png">
                        <p>Biding Type Solution</p>
                    </div>
                    <div class="company-info">
                        <div class="info-top">
                            <ul class="left-info">
                                <li><a href="#">회사소개</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">연락처</a></li>
                                <li><a href="#">광고문의</a></li>
                                <li><a href="#">채용</a></li>
                            </ul>
                            <div>&#124;</div>
                            <a href="#" class="bug-report">버그제보</a>
                            <div>&#124;</div>
                            <ul class="right-info">
                                <li><a href="#">개인정보 처리방침</a></li>
                                <li><a href="#">서비스 이용약관</a></li>
                            </ul>
                        </div>
                        <div class="info-bottom">
                            <div>상호명: 디와프(DWAF) | 대표명 : 최연호 | 사업자등록번호 : 171-31-01120 | 문의 : dusgh0624@naver.com</div>
                            <div class="info-bottom-mid">통신판매업신고번호 : 제 2022-부산어디-00000호 ㅣ 주소: 부산 어딘가 있습니다 000 꿈과희망의빌딩 000호 (00000)</div>
                            <div class="info-bottom-last">© 2022 DWAF, Co. All rights reserved.</div>
                        </div>
                    </div>
                    <div class="sponsored-by">
                        <div class="sponsored-title">SPONSORED BY</div>
                        <div class="sponsored-mark">
                            <a href="http://www.koreaitjob.co.kr/"><img src="/static/images/sponesored1.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>