<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
	<title>DWAF</title>
</head>

<body>
    <!-- header -->
    <div th:replace="~{fragment/header :: header}"></div>
    <!-- //header -->


    <!--- Main Content -->
    <div class="dw_container">

      <div class="main_area">
        <div class="main_panel">

          <!--- Q&A --->
          <div class="main_list">
            <h2>Q&A</h2>
            <div class="qna-data-box">
              
            </div>
          </div>

          <!--- 지식 --->
          <div class="main_list">
            <h2>지식</h2>
            <div class="data-box">
              
            </div>
          </div>

           <!--- 커뮤니티 --->
           <div class="main_list">
            <h2>커뮤니티</h2>
            <div class="data-box">

            </div>
          </div>

           <!--- 공지사항 --->
           <div class="main_list">
            <h2>공지사항</h2>
            <div class="data-box">
              
            </div>
          </div>

        </div>
      </div>
      <!--- //main_area-->

      <!---Top Rank --->
      <div th:replace="~{fragment/aside :: aside}"></div>
      <!--- //Top Rank --->

    </div>
    <!--- //Main Content-->

    <footer th:replace="~{fragment/footer :: footer}"></footer>

    <script src="/static/js/index.js"></script>
</body>
</html>
