<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment2/head :: head}"></head>
<head>
	<title>DWAF</title>
</head>

<body>
    <!-- header -->
    <div th:replace="~{fragment2/header :: header}"></div>
    <!-- //header -->


    <!--- Main Content -->
    <div class="dw_container">

      <div class="main_area">
        <div class="main_panel">

          <!--- Q&A --->
          <div class="main_list">
            <h2>Q&A</h2>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_01.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">23</span>
                <span class="point">1500 P</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.  </a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_02.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">5</span>
                <span class="point">2000 P</span>
              </li>
              <li class="title">
                <a href="#">Spring Boot, JPA에서 JSON 컬럼 타입을 Map으로 맵핑하기</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_03.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">230</span>
                <span class="point">990 P</span>
              </li>
              <li class="title">
                <a href="#">개발자가 참고하면 좋은 대표적인 사이트를 모아놓은 북마크 저장소입니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_04.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">9</span>
                <span class="point">50 P</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_05.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">0</span>
                <span class="point">500 P</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서</a>
              </li>
            </ul>
          </div>

          <!--- 지식 --->
          <div class="main_list">
            <h2>지식</h2>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_01.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">23</span>
                <span class="comment">19</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.  </a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_02.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">5</span>
                <span class="comment">123</span>
              </li>
              <li class="title">
                <a href="#">Spring Boot, JPA에서 JSON 컬럼 타입을 Map으로 맵핑하기</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_03.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">230</span>
                <span class="comment">0</span>
              </li>
              <li class="title">
                <a href="#">개발자가 참고하면 좋은 대표적인 사이트를 모아놓은 북마크 저장소입니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_04.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">9</span>
                <span class="comment">8</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_05.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">0</span>
                <span class="comment">6</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대에서 </a>
              </li>
            </ul>
          </div>

           <!--- 커뮤니티 --->
           <div class="main_list">
            <h2>커뮤니티</h2>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_01.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">23</span>
                <span class="comment">19</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.  </a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_02.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">5</span>
                <span class="comment">123</span>
              </li>
              <li class="title">
                <a href="#">Spring Boot, JPA에서 JSON 컬럼 타입을 Map으로 맵핑하기</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_03.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">230</span>
                <span class="comment">0</span>
              </li>
              <li class="title">
                <a href="#">개발자가 참고하면 좋은 대표적인 사이트를 모아놓은 북마크 저장소입니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_04.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">9</span>
                <span class="comment">8</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_05.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">0</span>
                <span class="comment">6</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대에서 </a>
              </li>
            </ul>
          </div>

           <!--- 공지사항 --->
           <div class="main_list">
            <h2>공지사항</h2>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_01.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">23</span>
                <span class="comment">19</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.  </a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_02.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">5</span>
                <span class="comment">123</span>
              </li>
              <li class="title">
                <a href="#">Spring Boot, JPA에서 JSON 컬럼 타입을 Map으로 맵핑하기</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_03.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">230</span>
                <span class="comment">0</span>
              </li>
              <li class="title">
                <a href="#">개발자가 참고하면 좋은 대표적인 사이트를 모아놓은 북마크 저장소입니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_04.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">9</span>
                <span class="comment">8</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대 에서 분석/설계는 어떻게 진행이 되는지 궁금합니다.</a>
              </li>
            </ul>
            <ul class="list_type1">
              <li>
                <a href="#"  class="m_avatar"><img src="/static/images/av_05.svg" alt=""></a>
                <a href="#"  class="m_id">닉네임</a>
                <span class="m_time">19분전</span>
              </li>
              <li>
                <span class="like">0</span>
                <span class="comment">6</span>
              </li>
              <li class="title">
                <a href="#">공공 또는 차세대에서 </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!--- //main_area-->

      <!---Top Rank --->
      <div th:replace="~{fragment2/aside :: aside}"></div>
      <!--- //Top Rank --->

    </div>
    <!--- //Main Content-->

    <footer th:replace="~{fragment2/footer :: footer}"></footer>
</body>
</html>
