<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{oldFragment/head :: head}"></head>
<head>
    <title>index</title>
    <link rel="stylesheet" href="/static/css/oldFragment/index.css">
</head>
<body>
<div id="container">
    <header th:replace="~{oldFragment/header :: header}"></header>

    <main>
        <div class="main-container">
            <div>
                <aside th:replace="~{oldFragment/rankaside :: rankaside}"></aside>
                <div class="bug-sos">
                    <div class="sos-icon">
                        <a href="/notice"><i class="fa-sharp fa-solid fa-bullhorn"></i></a>
                    </div>
                    <span>버그와 제안은 여기에 댓글로 남겨주세요.</span>
                </div>
            </div>

            <section>
                <div class="quick-board">
                    <div class="qna-board all-board">
                        <div class="quick-board-title question-title">
                            <a href="/question">Q&A</a>
                            <img src="/static/images/questions.svg">
                        </div>
                        <div class="qna-board-list board-list">
                            <ul class="qna-list-ul">
                                
                            </ul>
                        </div>
                    </div>

                    <div class="knowledge-board all-board">
                        <div class="quick-board-title community-title">
                            <a href="/knowledge">지식</a>
                            <img src="/static/images/knowledge.svg">
                        </div>
                        <div class="knowledge-board-list board-list">
                            <ul class="five-boardlist">

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="quick-board">
                    <div class="community-board all-board">
                        <div class="quick-board-title knowledge-title">
                            <a href="/community">커뮤니티</a>
                            <img src="/static/images/community.svg">
                        </div>
                        <div class="community-board-list board-list">
                            <ul class="five-boardlist">

                            </ul>
                        </div>
                    </div>

                    <div class="notice-board all-board">
                        <div class="quick-board-title notice-title">
                            <a href="/notice">공지</a>
                            <img src="/static/images/notice.svg">
                        </div>
                        <div class="knowledge-board-list board-list">
                            <ul class="five-boardlist">

                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <aside th:replace="~{oldFragment/priceaside :: priceaside}"></aside>
        </div>
    </main>
    <footer th:replace="~{oldFragment/footer :: footer}"></footer>
</div>
<script src="/static/js/oldFragment/oldIndex.js"></script>
</body>
</html>