<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포인트 충전</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/account/point/point.css">

</head>

<body>
    <div class="container">
        <div class="left-side">
            <div class="left-side-container">
                <div class="point-header">
                    <img class="logo-image" src="/static/images/logo_bts.png">
                    <h2 class="point-header-content">포인트 충전하기</h2>
                </div>
                <div class="point-content">
                    <ul>
                        <li class="email">
                            <span class="notice-payment">결제 알림 메일</span>
                            <span class="notice-payment-email">이메일@이메일.com</span>
                        </li>
                        <li class="point">
                            <span>충전 예정</span>
                            <div class="amount-currency">
                                <span class="point-amount">10,000</span>
                                <span class="point-currency">point</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="right-side-container">

                <div class="payment-header">
                    <div class="payment-header-box">
                        <span class="payment-header-content">포인트 구매 창입니다.</span>
                    </div>
                </div>

                <!-- 결제 금액 -->
                <div class="payment-amount">
                    <div class="left-payment-amount">
                        <span>결제 금액</span>
                    </div>
                    <div class="right-payment-amount">
                        <ul class="payment-amount-list">
                            <li class="payment-point-price">
                                <div class="payment-point-box">
                                    <span class="payment-point">10,000</span>
                                    <span class="payment-currency">Point</span>
                                </div>
                                <div class="payment-price">
                                    <span>10,000원</span>
                                </div>
                            </li>
                            <li class="payment-point-price">
                                <div class="payment-point-box">
                                    <span class="payment-point">20,000</span>
                                    <span class="payment-currency">Point</span>
                                </div>
                                <div class="payment-price">
                                    <span>20,000원</span>
                                </div>
                            </li>
                            <li class="payment-point-price">
                                <div class="payment-point-box">
                                    <span class="payment-point">30,000</span>
                                    <span class="payment-currency">Point</span>
                                </div>
                                <div class="payment-price">
                                    <span>30,000원</span>
                                </div>
                            </li>
                            <li class="payment-point-price">
                                <div class="payment-point-box">
                                    <span class="payment-point">40,000</span>
                                    <span class="payment-currency">Point</span>
                                </div>
                                <div class="payment-price">
                                    <span>40,000원</span>
                                </div>
                            </li>
                            <li class="payment-point-price">
                                <div class="payment-point-box">
                                    <span class="payment-point">50,000</span>
                                    <span class="payment-currency">Point</span>
                                </div>
                                <div class="payment-price">
                                    <span>50,000원</span>
                                </div>
                            </li>
                            <li class="payment-point-price">
                                <div class="payment-point-box">
                                    <span class="payment-point"></span>
                                    <span class="payment-currency">Point</span>
                                </div>
                                <div class="payment-price">
                                    <span>직접 입력</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 결제 수단 -->
                <div class="payment-method">
                    <div class="left-payment-method">
                        <span>결제 수단</span>
                    </div>
                    <div class="right-payment-method">

                    </div>
                </div>


                <div class="payment-agree">

                </div>


                <div class="payment-button">

                </div>
            </div>
        </div>
    </div>




</body>

</html>