<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/head :: head}"></head>

<head>

    <title>qnaBoardArticle</title>
    <link rel="stylesheet" href="/static/css/qna/qnaBoardArticle.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <div class="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main>
            <div class="qna-board-container">
                <div class="center-container">


                    <div class="qna-board-center">
                        <div class="qna-board-left">
                            <div class="qna-board-img">
                                <!-- <img class="img-content" src="/static/images/errorimage.png"> -->
                            </div>
                            <div class="qna-board-profile">
                                <div class="qna-board-profile-flex">
                                    <a href="" class="qna-profile-img">
                                        <img src="" alt="">
                                        <!-- 여기에 들어가는 이미지는 40*40 -->
                                    </a>
                                    <div class="qna-board-profile-details">
                                        <a href="" class="qna-profile-name">닉네임</a>
                                        <div class="qna-profile-text">
                                            <span>좋아요</span>
                                            <span> </span>
                                            <span>시간</span>
                                            <span> </span>
                                            <span>뷰</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-update-button">
                                    <!-- <div>
                                        <button type="button" class="update-button">
                                            <i class="fa-regular fa-pen-to-square"></i>수정하기
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="qna-board-right">
                            <div class="qna-board-top">
                                <div>
                                    <div class="qna-board-category">
                                        프로그램
                                    </div>
                                    <p class="qna-content-name">
                                        오류제목
                                    </p>

                                </div>
                            </div>
                            <div class="qna-board-req">
                                <div class="qna-board-req-title">
                                    답변요청 목록
                                </div>
                                <div class="qna-board-req-lists">
                                    <div class="hover-area">
                                        <div class="qna-profile-img qna-board-req-list">
                                            <img src="/static/images/spon_meow.jpg" alt="">
                                        </div>
                                        <div class="hover-profile hover-togle">
                                            <div>닉네임: <a href="">연호슈밤</a></div>
                                            <div>별점: 4.8</div>
                                            <div>스택: 자바, 자바스프링 등</div>
                                        </div>
                                    </div>
                                    <div class="hover-area">
                                        <div class="qna-profile-img qna-board-req-list">
                                            <img src="/static/images/spon_meow.jpg" alt="">
                                        </div>
                                        <div class="hover-profile hover-togle">
                                            <div>닉네임: <a href="">연호슈밤</a></div>
                                            <div>별점: 4.8</div>
                                            <div>스택: 자바, 자바스프링 등</div>
                                        </div>
                                    </div>
                                </div>
                                <div>* 자세히 보기는 닉네임 클릭</div>
                            </div>
                            <div class="board-info">
                                <div class="qna-board-info-category">
                                    <div class="qna-board-info-category-left">
                                        프로그램/버전
                                    </div>
                                    <div class="qna-board-info-category-right">
                                        프로그램/버전
                                    </div>

                                </div>

                                <div class="qna-board-price">
                                    <div class="qna-board-price-left">
                                        질문금액
                                    </div>
                                    <div class="qna-board-price-right">
                                        4,000원
                                    </div>
                                </div>
                            </div>

                            <!-- 응답버튼 부분 -->
                            <div class="request-answer">
                                    <button type="button"></button>
                            </div>


                            <div class="qna-board-info">

                                <div class="qna-error">
                                    <div class="qna-error-title">
                                        문제설명
                                    </div>
                                    <div class="qna-error-description">
                                        <p class="error-details">1. 문제 ~~~</p>
                                        <p class="error-details">2. 문제 ~~~~</p>
                                        <p class="error-details">3. 문제 ~~~~</p>
                                        <p class="error-details"> Lorem, ipsum dolor sit amet consectetur adipisicing
                                            elit. Excepturi a placeat dignissimos voluptatibus, quisquam voluptate
                                            obcaecati qui, aliquam cumque recusandae repellendus tenetur eius molestias
                                            adipisci? Saepe animi recusandae expedita eveniet.</p>
                                        <p class="error-details">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Blanditiis numquam, corrupti quis maiores ipsam, quam nulla ratione
                                            sunt saepe eum beatae est tempora iure veniam hic quae nesciunt adipisci
                                            tempore.</p>
                                        <p class="error-details">Lorem ipsum dolor sit amet consectetur, adipisicing
                                            elit. Asperiores nulla atque provident! Iure, similique optio voluptas
                                            necessitatibus debitis atque recusandae repellendus odio tenetur cumque sint
                                            excepturi libero a fugit? Nam.</p>
                                    </div>

                                    <div class="qna-error-title">
                                        희망결과
                                    </div>
                                    <div class="qna-error-description">
                                        <p class="error-details">1. 희망결과 ~~~</p>
                                        <p class="error-details">2. 희망결과 ~~~~</p>
                                        <p class="error-details">3. 희망결과 ~~~~</p>
                                        <p class="error-details">Lorem, ipsum dolor sit amet consectetur adipisicing
                                            elit. Quos voluptatem eveniet rem obcaecati impedit autem assumenda, cum
                                            tempore iusto temporibus laborum sequi ratione quisquam adipisci nam
                                            accusantium dolores est harum!</p>
                                    </div>
                                </div>

                            </div>
                            <div class="qna-board-reference">
                                <div class="reference-name">
                                    안내사항
                                </div>
                                <div class="reference-box">
                                    <div class="reference-detail-box">
                                        <p class="reference-details">매칭신청안내</p>
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>
                                    <div class="reference-detail-box">
                                        <p class="reference-details">금액정산안내</p>
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="qna-bottom">
                        <div class="answer-title">
                            답변
                        </div>
                        <div class="answer-profile">
                            <div class="qna-board-profile-flex">
                                <a href="" class="qna-profile-img">
                                    <img src="" alt="">
                                    <!-- 여기에 들어가는 이미지는 40*40 -->
                                </a>
                                <div class="qna-board-profile-details">
                                    <a href="" class="qna-profile-name">닉네임</a>
                                    <div class="qna-profile-text">
                                        <span>좋아요</span>
                                        <span> </span>
                                        <span>시간</span>
                                        <span> </span>
                                        <span>뷰</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="answer-detail">원인분석</div>
                            <div class="answer-details">
                                원인분석내용
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea accusamus quos impedit
                                    omnis beatae numquam autem? Asperiores, repellendus. Hic fugit optio dolores libero
                                    non, dicta labore maiores consectetur dignissimos minima!</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam rem porro repudiandae
                                    ratione et animi provident dolores voluptas, consequuntur dolorum tenetur sapiente
                                    obcaecati nemo, ex cupiditate, consequatur iste. Eum, doloremque.</p>
                            </div>
                        </div>
                        <div>
                            <div class="answer-detail">해결방안</div>
                            <div class="answer-solutions">
                                해결방안내용
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione perferendis fugiat
                                    neque amet alias, nostrum aut doloribus, similique nemo placeat dignissimos sunt.
                                    Aliquid eligendi ducimus, hic tempora in sunt aperiam!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, et libero! Id
                                    aliquam exercitationem libero possimus porro dolorem, molestiae perferendis tenetur
                                    sed consectetur magni similique molestias corporis officia totam a!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </div>

    <!--       답변자 모달창       -->
    <div class="modal">
        <!-- <div class="modal-body">
            <div class="modal-title">답변내용</div>
            <form name="answererForm" method="post" action="/api/qna/question/article/answerermodal">
                <input class="form-input" type="text" value="" hidden>
                <div class="modal-box">
                    <div class="modal-detail">원인분석</div>
                    <textarea name="causerAnalysis" cols="30" rows="12" placeholder="내용을 입력해 주세요."
                        class="modal-textarea"></textarea>
                </div>
                <div class="modal-box">
                    <div class="modal-detail">해결방안</div>
                    <textarea name="solutionPlan" cols="30" rows="14" placeholder="내용을 입력해 주세요."
                        class="modal-textarea"></textarea>
                </div>

                <div class="modal-description">
                    *답변내용 미제출시 정산이 되지않음을 참고하시기 바랍니다.
                </div>
                <div class="modal-button">
                    <button class="save-button" type="button">save</button>
                </div>
            </form>
        </div>-->
    </div>
    <script src="/static/js/board/qnaBoardArticle.js"></script>
    <script src="/static/js/board/qnaMatching.js"></script>
    <!-- <script src="/static/js/board/qnaModal.js"></script> --> <!--이건호가 주석해놈-->
</body>

</html>