<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!--       질문자 모달창       -->
    <div class="modal-user">
        <div class="modal-user-body">
            <!-- 헤더 영역 -->
            <div class="modal-user-review">답변 리뷰</div>

            답변자 닉네임 영역
            <div class="modal-user-detail">
                <div class="modal-user-title">
                    <div class="modal-titles">
                        답변자
                    </div>
                </div>
                <div class="modal-user-content">
                    답변자 닉네임
                </div>
            </div>

            <!-- 별점 영역 -->
            <div class="modal-user-detail">
                <div class="modal-user-title">
                    <div class="modal-titles star-title">
                        별점
                    </div>
                </div>
                <div class="modal-star-area">
                    <div class="modal-star">
                        <form class="reviwe-form" name="myform" action="post">
                            <!-- name: form의 이름. 서버로 제출된 폼 데이터를 참조하기 위해 사용  -->

                            <fieldset>
                                <input type="radio" class="reviewStar-input" name="reviewStar" value="1"
                                    id="rate1"><label class="reviewStar-label" for="rate1">★</label>
                                <input type="radio" class="reviewStar-input" name="reviewStar" value="2"
                                    id="rate2"><label class="reviewStar-label" for="rate2">★</label>
                                <input type="radio" class="reviewStar-input" name="reviewStar" value="3"
                                    id="rate3"><label class="reviewStar-label" for="rate3">★</label>
                                <input type="radio" class="reviewStar-input" name="reviewStar" value="4"
                                    id="rate4"><label class="reviewStar-label" for="rate4">★</label>
                                <input type="radio" class="reviewStar-input" name="reviewStar" value="5"
                                    id="rate5"><label class="reviewStar-label" for="rate5">★</label>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-user-description">
                        <p>별점의 갯수에 따라 지급액 산정이 달라집니다.</p>
                        <p>- 5개: 100%지급 -4개:80%지급 - 3개: 60%지급</p>
                        <p>- 2개: 40%지급 - 1개:20%지급</p>
                    </div>
                </div>
            </div>



            <div class="modal-user-button">
                <button class="save-button" type="submit">save</button>
            </div>
        </div>
    </div>



















</body>

</html>