<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="main_rank" th:fragment="aside">
        <dl class="rank_user">
           <dt>Top Rank user</dt>
           <dd>
             <a href="#"  class="m_avatar"><img src="/static/images/av_03.svg" alt=""></a>
             <a href="#"  class="m_id">zo123mm</a>
             <span class="m_score m_star">4.0</span>
           </dd>
           <dd>
             <a href="#"  class="m_avatar"><img src="/static/images/av_01.svg" alt=""></a>
             <a href="#"  class="m_id">HDH123</a>
             <span class="m_score m_star">4.0</span>
           </dd>
           <dd>
             <a href="#"  class="m_avatar"><img src="/static/images/av_02.svg" alt=""></a>
             <a href="#"  class="m_id">닉네임</a>
             <span class="m_score m_star">4.0</span>
           </dd>
           <dd>
             <a href="#"  class="m_avatar"><img src="/static/images/av_04.svg" alt=""></a>
             <a href="#"  class="m_id">닉네임</a>
             <span class="m_score m_star0">1.0</span>
           </dd>
           <dd>
             <a href="#"  class="m_avatar"><img src="/static/images/av_05.svg" alt=""></a>
             <a href="#"  class="m_id">닉네임</a>
             <span class="m_score m_star0">0.0</span>
           </dd>
        </dl>

        <dl class="rank_user">
         <dt>Top Rank Price</dt>
         <dd>
           <a href="#"  class="m_avatar"><img src="/static/images/av_03.svg" alt=""></a>
           <a href="#"  class="m_id">zo123mm</a>
           <span class="point">5000 P</span>
         </dd>
         <dd>
           <a href="#"  class="m_avatar"><img src="/static/images/av_01.svg" alt=""></a>
           <a href="#"  class="m_id">HDH123</a>
           <span class="point">3000 P</span>
         </dd>
         <dd>
           <a href="#"  class="m_avatar"><img src="/static/images/av_02.svg" alt=""></a>
           <a href="#"  class="m_id">닉네임</a>
           <span class="point">300 P</span>
         </dd>
         <dd>
           <a href="#"  class="m_avatar"><img src="/static/images/av_04.svg" alt=""></a>
           <a href="#"  class="m_id">닉네임</a>
           <span class="point">300 P</span>
         </dd>
         <dd>
           <a href="#"  class="m_avatar"><img src="/static/images/av_05.svg" alt=""></a>
           <a href="#"  class="m_id">닉네임</a>
           <span class="point">300 P</span>
         </dd>
        </dl>

        <div class="user_write">
         <a href="#">
         <img src="/static/images/ico_write.svg" alt="">
         버그와 제안 문의하기
          </a>
        </div>
     </div>
</body>
</html>