<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
    <div id="header" th:fragment="header">
        <div class="head">
            <h1> <a href="/newindex"><img src="/static/images/logo.svg" alt="DWAF"></a></h1>
            <div id="dwgnb">
              <ul>
                <li><a href="/question">Q&A</a> </li>
                <li><a href="/knowledge">지식</a></li>
                <li><a href="/community">커뮤니티</a></li>
                <li><a href="/notice">공지사항</a></li>
              </ul>
              <span class="bg"></span>
  
              <div class="top_search">
                <input type="text" name="" id="" placeholder="검색"/>
                <button type="button">Search</button>
              </div>
              <!-- 로그인 전 노출 -->
              <div class="login_area" ><!-- style:display none 삭제 -->
                <a hre="/login">로그인</a>
                <a hre="/signup" class="join">회원가입</a>
              </div>
              <!-- 로그인 후 노출 -->
              <div class="top_info" style="display: none;">
                <div class="iconinfo">
                  <a href="#">
                    <img src="/static/images/ico_bmak.svg" alt="스크랩">
                  </a>
                  <a href="#" class="noti">
                    <img src="/static/images/ico_noti.svg" alt="알림">
                    <span class="alarm"></span>
                  </a>
                </div>
                <div class="myinfo">
                  <a href="#"><img src="/static/images/av_02.svg" alt="나의정보"></a>
                  <span class="id">
                    <a href="#">홍길동님</a>
                  </span>
                  <ul class="myinfo_dropdown">
                    <li><a href="/myprofile">내 프로필</a></li>
                    <li><a href="/myactivity">활동내역</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                  </ul>
                </div>
              </div>
              <div class="logout">
               <button type="button" >로그아웃</button>
              </div>
            </div>
        </div>
        <!-- //head -->
        <div class="btn_nav btn_bar">
          <button type="button" onclick="toggleAllMenu()"><span>전체메뉴 열기</span></button>
        </div>
        <div class="nav_close">
          <button type="button" onclick="toggleAllMenu()"><span>전체메뉴 닫기</span></button>
        </div>
        <div class="mask"></div>

        <script type="text/javascript">
          function toggleAllMenu() {
              $("#header").toggleClass("open");
          }
        </script>
      </div>
      
</body>
    
</html>