/*footer 파트*/

footer {
    width: 100%;
    height: 114px;

    margin-top: 28px;
    padding: 28px 0px;
    border-top: 1px solid rgb(202, 206, 213);
    height: 171px;
}

.footer-container {
    margin: 0px auto;
    width: 1280px;
    height: 100%;
    /* height: 114px; */
}

.footer-flex {
    display: flex;
    height: 114px;
    justify-content: space-between;
}

.footer-logo {
    margin: 0px 16px;
    width: 208px;
    height: 28px;
}

.footer-logo img {
    margin-left: 11px;
    width: 115px;
    height: 28px;
}

.footer-logo p {
    color: rgb(107, 114, 128);
}

.company-info {
    width: 877px;
    height: 114px;
    padding: 0px 20px;
}

.info-top {
    display: flex;
    height: 24px;
}

.info-top ul {
    display: flex;
}

.info-top ul li {
    margin-left: 20px;
}

.info-top div {
    margin-left: 20px;
    color: #4B5563;
}

.info-top a {
    color: #4B5563;
}

.bug-report {
    margin-left: 20px;
}

.left-info li:first-child {
    margin-left: 0px;
}

.info-bottom {
    margin-top: 28px;
    height: 62px;
}

.info-bottom div {
    font-size: 12px;
    color: #6B7280;
}

.info-bottom-mid,
.info-bottom-last {
    margin-top: 4px;
}

.sponsored-by {
    width: 163px;
    height: 114px;
}

.sponsored-title {
    margin: 0 auto;
    width: 110px;
    height: 20px;
    color: #9CA3AF;
    font-weight: 700;
}

.sponsored-mark {
    margin-top: 16px;
    text-align: center;

}