header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;

    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;

    border-bottom: 1px solid rgb(187, 187, 187);
    background-color: white;
}

.header-container {
    margin: 0 auto;
    height: 35px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1280px;
    height: 35px;
}

.left-nav {
    display: flex;
    align-items: center;
    width: 50%;
}

.logo img {
    width: 115px;
    height: 28px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 105px;

    width: 419px;
    height: 28px;
}

.nav ul li a:hover {
    color: rgb(0, 144, 249);
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 35%;
    height: 35px;


}

.search-box {
    display: flex;
    align-items: center;

    width: 55%;
    height: 35px;

    border: 1px solid rgb(229, 231, 235);
    border-radius: 20px;
}

.search-box input {
    border: none;
    outline: none;
    width: 207px;
    height: 16px;

    padding-right: 8px;

    color: rgb(118, 118, 118);
    font-size: 11px;
}

.search-box:focus-within {
    border: 1px solid rgb(0, 144, 249);
}

.search-box button {
    margin: 0px 5px 0px 10px;
    background-color: white;
    border: none;
    color: rgb(118, 118, 118);
    font-size: 8px;
    line-height: 1px;
    cursor: pointer;
}

.account-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 35px;
    padding-left: 25px;
}

.account-area-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
}

.account a {
    width: 95%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
}

.login-button {
    border: 1px solid rgb(0, 144, 249);
    color: rgb(0, 144, 249);
    line-height: 2.6;
}

.login-button:hover {
    background-color: rgb(201, 201, 201);
}

.signup-button {
    background-color: rgb(0, 144, 249);
    color: white;
    line-height: 2.8;
}

.signup-button:hover {
    background-color: rgb(5, 90, 151);
}

/* 로그인 후 헤더 innerhtml */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 19px;
}

.icon:hover {
    color: rgb(0, 144, 249)
}

.i {
    width: 100%;
    height: 100%;
    font-size: 19px;
}

.profile-img-area {
    width: 32px;
    height: 32px;

}

.profile-img-button {

    border-width: 0px solid rgb(209 213 219);
    border-radius: 50%;
    border-width: thin;
    width: 100%;
    height: 100%;

}

.profile-img {
    border-width: 1px solid rgb(209 213 219);
    border-radius: 50%;
    border-width: thin;
    width: 100%;
    height: 100%;
}

/* 프로필 이미지 클릭시 이벤트 */

.mybox-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 150px;
}


.mybox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: ; */

    position: absolute;
    top: 5px;
    right: 89px;


    border: 1px solid #e5e7eb;
    border-radius: 10px;

    width: 200px;
    height: 150px;

    box-shadow: 1px 1px 0 rgba(117, 116, 116, 0.5);
    background-color: white;
}

.mybox-invisible {
    display: none;
}

.mybox a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 33.3%;
    font-size: 15px;
}

.mybox a:hover {
    font-size: 16px;
    font-weight: 500px;
    color: rgb(0, 144, 249);

}

.mybox a:nth-child(2) {
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}