
body {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;

    margin: 40px 0px 200px;
    padding: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 840px;
    height: 863px;

    margin: 0px 40px;
}

.write-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}

.write-text h3 {
    text-align: start;
    font-size: 30px;
    font-weight: 500;
}

.write-text p {
    margin-top: 8px;
    color: rgb(107, 114, 128);
}

form {
    width: 100%;

    margin-top: 40px;
}

.write-menu {
    display: flex;
    flex-direction: column;
}

.write-category {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 15px;
}

.write-category label {
    font-weight: 500;
}

.write-category select {
    height: 42px;

    margin-top: 4px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px 40px 8px 12px;

    font-size: 16px;
    font-weight: 400;
}

.write-subcategory {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 15px;
}

.write-subcategory label {
    font-weight: 500;
}

.write-subcategory select {
    height: 42px;

    margin-top: 4px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px 40px 8px 12px;

    font-size: 16px;
    font-weight: 400;
}

.write-title {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 15px;
}

.write-title label {
    font-weight: 500;
}

.write-title input {
    height: 42px;

    margin-top: 4px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px 40px 8px 12px;

    font-size: 16px;
    font-weight: 400;
}

.write-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;


    margin-bottom: 15px;
}

.write-textarea label {
    font-weight: 500;
}

.write-textarea textarea {  
    height: 337px;

    margin-top: 4px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 8px 40px 8px 12px;

    font-weight: 400;
}

.write-buttons {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    margin-top: 54px;
}

.write-buttons button {
    width: 85px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 5px;

}

.write-buttons button:hover {
    cursor: pointer;
}

.write-buttons button:nth-child(1) {
    margin-right: 12px;
    border: none;

    color: white;
    background-color: #FC5F07;
}

.write-buttons button:nth-child(2) {
    border: 1px solid #dbdbdb;

    background-color: white;
}

.delete-button {
    margin-left: 12px;
    border: none;

    color: white;
    background-color: rgb(255, 94, 94);
}